table#uml td {
	border: 1px solid #777;
	text-align: left;
	margin: 10px;
	padding: 5px 10px;
	font-family: monospace;
	font-size: 11px;
}

table#uml td#nombreClase {	
	text-align: center;
	font-weight: bold;
}

table#uml {
	margin: 20px 0px;
	width: 50%;
}